html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* ===== NAVBAR ===== */
.arcade-title {
    font-size: 18px;
    letter-spacing: 2px;
}

/* ===== CARDS ===== */
.arcade-card {
    background: #111;
    border: 3px solid #ffc107;
    color: #fff;
    border-radius: 12px;
}

/* ===== LISTA CONTROLES ===== */
.arcade-list {
    list-style: none;
    padding: 0;
    font-size: 10px;
}

.arcade-list li {
    margin-bottom: 10px;
}

/* ===== HUD ===== */
.hud-label {
    font-size: 10px;
    color: #ffc107;
}

.hud-value {
    font-size: 14px;
    color: #fff;
}

/* ===== MARCO DEL JUEGO ===== */
.arcade-frame {
    background: #000;
    padding: 20px;
    border: 6px solid #ffc107;
    border-radius: 20px;
    box-shadow:
        0 0 20px #ffc107,
        inset 0 0 40px rgba(255,193,7,0.3);
}

/* ===== CANVAS ===== */
canvas {
    border-radius: 10px;
    background: #222;
}

/* ===== BOTÓN ARCADE ===== */
.arcade-btn {
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px #ffc107;
    transition: 0.2s;
}

.arcade-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffc107;
}

footer {
    margin-top: auto;
}

canvas {
    cursor: none;
}